<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }} | {{ site.title }}</title>
  <link rel="stylesheet" href="/style.css">
  <script src="/common-links.js"></script>
</head>
<body>
  <!-- Header Section -->
  <header>
    <div class="container">
      <h1 class="logo">{{ site.title }}</h1>
      <nav>
        <ul class="main-nav">
          <li><a href="/terminology.html">Terminology</a></li>
          <a href="/commands.html">Commands</a>
          <li><a href="/fizzbuzz.html">FizzBuzz Code</a></li>
          <li><a href="/github.html">GitHub</a></li> 
          <li><a href="/XcodeIDE.html">XcodeIDE</a></li>
          <li><a href="/AboutReplit.html">About Replit</a></li>
          <li><a href="/github-pages.html">GitHub-Pages Guide</a></li>
          <li><a href="/sitemap.html">Sitemap</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <!-- Main Content -->
  <main>
    <div class="container">
      {{ content }}
    </div>
  </main>

  <!-- Footer Section -->
  <footer>
    <div class="container">
      <p>Check out my other projects!</p>
      <ul class="project-links">
        <li><a href="https://sirni4ek.github.io/">sirni4ek.github.io</a></li>
        <li><a href="https://danil357345.github.io/">danil357345.github.io</a> (You are here)</li>
        <li><a href="https://solomiia2098.github.io/">solomiia2098.github.io</a></li>
        <li><a href="https://gulkily.github.io/">gulkily.github.io</a></li>
      </ul>
      <p>Find the source code for this webpage on <a href="https://github.com/Danil357345/Danil357345.github.io">GitHub</a>.</p>
    </div>
  </footer>
</body>
</html>
